
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: Arial, sans-serif;
    background-color:  #0f0f0f;
    font-size: 20px;
}
.navbar {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    width: 100%;
    max-width: 1200px;

    background-color: #333;
    padding: 10px;
    border-radius: 10px;
    z-index: 1000;
}
.nav {
    font-size: 1.6rem;
    display: flex;
    justify-content: flex-end;
}

.nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
}
.nav img {
    width: 240px;
    margin-right: 750px;
}
.section {
    min-height: 100vh;
    padding: 120px 40px;
    color: #e5e7eb; 


    display: flex;
    flex-direction: column;
    justify-content: center;
}
.home {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("img/Fundo.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.home h1 {
    text-align: center;
    font-size: 3rem;
    
}
.home h2 {
    text-align: center;
    font-size: 2rem;
    margin-top: 10px;
}
p {
    font-size: 20px;
    max-width: 800px;
}
li {
    list-style-type: none;
}
.styleabout {
    max-width: 900px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.About {
    background-color: #151515;
    border-radius: 8px;
    border:1px solid #444;
    padding: 16px;
    transition: 0.3s;
}
.social-icons {
    text-align: center;
    margin-top: 20px;
}

.social-icons img {
    width: 28px;
    height: 28px;
    opacity: 0.8;
    transition: 0.3s;
    padding-left: 20px;
    padding-right: 20px;
}

.social-icons img:hover {
    opacity: 1;
    transform: scale(1.1);
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}
